.heroBanner-cont{
    align-items: center;
}
.heroBanner{
    flex: 1;
    justify-content: center;
    margin: 0px 40px;
}
.heroBanner img{
    width: 90%;
    height: 80vh;
    border-bottom-left-radius: 50%;
    object-fit: cover;
}
.overlay-text{
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -20%);
    font-size: 10vw;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.802);
    z-index: -1;
    opacity: 25%;
}

@media (max-width: 992px){
    .heroBanner img{
        height: auto;
    }
}